*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#f8e6ee;
  font-family:'Poppins',sans-serif;
  overflow:hidden;
  color:#ff4fa0;

  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

/* LOADING SCREEN */

#loading-screen{

  width:min(75vh,100vw);
  aspect-ratio:4/3;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  background:#f8e6ee;

  border-radius:20px;
  margin:auto;
}

#loading-screen h2{

  margin-top:20px;
  font-family:'Pacifico',cursive;
  font-size:35px;

  animation:blink 1s infinite;
}

.kitty{
  width:150px;
}

@keyframes blink{
  50%{
    opacity:0.5;
  }
}

/* MAIN */

.hidden{
  display:none;
}

#main-content{
  width:min(75vh,100vw);
  aspect-ratio:4/3;

  position:relative;
}

/* PAGE */

.page{

  width:min(75vh,100vw);
  aspect-ratio:4/3;

  display:none;

  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:20px;

  background:#f8e6ee;

  border-radius:20px;
  overflow:hidden;

  margin:auto;
}

.active{
  display:flex;
}
